<footer class="footer navbar-fixed-bottom ">
    <div class="container" style="width:100%;background-color: rgb(77, 77, 77);color: white">
    <p style="text-align: center;margin-top: 20px"> 杭州师范大学实验平台</p>
    </div>

</footer>

{#<div class="container" style="position: absolute;bottom: 0;width:100%;background-color: rgb(77, 77, 77);color: white">#}
{##}
{#    <p style="text-align: center;margin-top: 20px"> 杭州师范大学实验平台</p>#}
{#    <p style="text-align: center"><a href="#">联系我们 </a></p>#}
{#</div>#}