{% extends "base2.html" %}
{% load staticfiles %}
{% block title %}数据源{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <br>
                <br>
                <br>
                <div class="panel panel-default">
                    <div class="panel-body text-center">
                        <div class="btn-group" role="group" aria-label="...">
                            <div class="btn-group  btn-group-lg " role="group">
                                <button id="btn2" class="btn btn-default">BP</button>
                                <button id="btn3" class="btn btn-default">LSTM</button>
                                <button id="btn3" class="btn btn-default">RNN</button>
                                <button id="btn3" class="btn btn-default">PSO-LSTM</button>
                                <button id="btn3" class="btn btn-default">SVM</button>
                            </div>
                        </div>
                    </div>

                    <div class="panel-footer">
                    <div class="progress progress-striped active" id="pro" style="display: none">
                    <div id="prog" class="progress-bar" role="progressbar" aria-valuenow="" aria-valuemin="0"
                     aria-valuemax="100" style="width:100%;">
                </div>
            </div>
                        <div class="panel panel-info">
                            <div class="panel-heading text-center">实验</div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-8 col-md-offset-2 text-center">
                                        <table class="table table-hover table-bordered table-striped"
                                               style="font-size: 20px">
                                            <thead>
                                            </thead>
                                            <tbody>
                                            <p>时间步：<input type="number" id="time_step" value="3"></p>
                                            <p>神经元个数：<input type="number" id="cell_num" value="100"></p>
                                            <p>迭代次数：<input type="number" id="iters" value="500"></p>
                                            <p>训练集大小：<input type="number" step="0.1" id="train_set" value="0.8"></p>
                                            {% for ret in res_list %}
                                                <tr>
                                                    <td>{{ ret }}</td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-info">
                            <div class="panel-heading text-center">
                                实验结果和图示
                            </div>
                            <div class="panel-body" id="tianjia">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    </div>
    <script src="{% static "js/jquery.js" %}"></script>
    <script src="{% static "js/bootstrap.js" %}"></script>
    <script>
       $('.btn').click(function () {
           $('#pro').show()
           var btn_num = $(this).attr('id')
           var time_step = $('#time_step').val()
           var cell_num = $('#cell_num').val()
           var iters = $('#iters').val()
           var train_set = $('#train_set').val()

        $.ajax({
            url:'/test/',
            type:'post',
            data:{
                btn_num:btn_num,
                time_step:time_step,
                cell_num:cell_num,
                iters:iters,
                train_set:train_set
            },
            success:function (response) {
                $('#pro').hide()
                $("#tianjia").after("<img src='../static/images/yuce.png' class='img-responsive center-block'>");
                console.log(response)

            }
        })
    });
    </script>
{% endblock %}